.hero {
  min-height: 940px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title {
  color: #1d1e1f;
  /* font-family: "HelveticaNeue Regular"; */
  font-size: 44px;
  font-weight: 300;
  letter-spacing: 0.88px;
}
.hero__subtitle {
  color: #898888;
  font-family: "Merriweather - Light Italic";
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.48px;
}
.hero__button {
  padding: 22px 50px;
  border: 1px solid #000;
  color: #000000;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 0.52px;
}
